@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #6366f1;
  --color-primary-dark: #4f46e5;
  @keyframes float {
  0%, 100% {
    transform: translateY(0px);
    }
  50% {
    transform: translateY(-10px);
    }
  }
}